.offScreen {
     opacity: 0;
}

[class*="fadeFrom"] {
     animation-duration: 700ms;
     animation-fill-mode: forwards;
}

.fadeFromTop {
     animation-name: fadeFromTop;
}

.fadeFromBottom {
     animation-name: fadeFromBottom;
}

.fadeFromLeft {
     animation-name: fadeFromLeft;
}

.fadeFromRight {
     animation-name: fadeFromRight;
}

@keyframes fadeFromTop {
     from {
          opacity: 0;
          transform: translateY(-30px);
     }

     to {
          opacity: 1;
          transform: translateY(0);
     }
}

@keyframes fadeFromBottom {
     from {
          opacity: 0;
          transform: translateY(70px);
     }

     to {
          opacity: 1;
          transform: translateY(0);
     }
}

@keyframes fadeFromLeft {
     from {
          opacity: 0;
          transform: translateX(-100px);
     }

     to {
          opacity: 1;
          transform: translateY(0);
     }
}

@keyframes fadeFromRight {
     from {
          opacity: 0;
          transform: translateX(100px);
     }

     to {
          opacity: 1;
          transform: translateY(0);
     }
}